@import '../../assets/css/_partials';

.header{
  padding: 16px 24px;
  font-size: 34px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: $main_font;
}