@import '../../../assets/css/_partials';

.header{
  padding: 16px 24px;
  font-size: 34px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: $main_font;
}

.subheader{
  margin-bottom: 24px;
  text-align: center;
  >*{
    color: green;
  }
}

.counter{
  text-align: center;
  font-size: 12px;
}

.word{
  margin-bottom: 24px;
  text-align: center;
  color: green;
  font-size: 40px;
}

.buttonWrapper{
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

