/*colors*/
$main_bg: rgb(235,176,161);
$light_bg: rgb(254, 250, 240);
$dark_brown: #644242;
$red_brown: #c86f57;
$medium_brown: #be753e;
$dark_yellow: #fcb246;
$light_yellow: #f4ba7b;
$dark_beige: #d7a396;
$medium_beige: #fbceb6;
$light_beige: #fde0cd;
$light_bg: #fdebd9;
$dark_blue: #2f424a;
$dark_green: #849d8b;
$medium_green:#a7b8a1;
$light_green: #bcc1aa;
$main_font: #46585a;

