@import '../../assets/css/_partials';

.header{
  padding: 16px 24px;
  font-size: 48px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: $main_font;
}

.footer{
  height: 200px;
  background: url("../../assets/img/header-main.png") 100% no-repeat;
  background-size: cover;
}